/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.barra{
	-fx-color: blue;
	-fx-background-color: orange;
	-fx-font-family: Roboto;
	-fx-font-size: 18px;
}

.textArea{
	-fx-color: #00ff00;
}

.input{
	-fx-text-fill: white;
	-fx-background-color:  #2A2A2A;
}

.pane{
	-fx-border-color: orange;
	-fx-border-width: 2px;
	
}